.content-header {
  padding: 20px 0;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  &--resources {
    color: @black;
  }

  &--about {
    padding: 0;
    height: 154px;
    background: url('@{i}about-title_bg_xs.jpg') center center no-repeat;
  }


  &__title {
    margin: 0;
    .openCon();
    font-size: 32px;
    line-height: 80px;

  }
  &__title-inner{
    display: inline-block;
    vertical-align: top;
    width: 216px;
    border-bottom: 2px solid #fff;
    position: relative;
    &:before,
    &:after{
      content:'';
      width: 12px;
      height: 12px;
      border-radius:50% ;
      border: 2px solid #fff;
      position: absolute;
    }
    &:before{
      bottom: -9px;
      left: -14px;
    }
    &:after{
      bottom: -9px;
      right: -14px;
    }
  }
  &__title-inner--resources{
    padding-top: 20px;
    line-height: 35px;
    border-color: @black;
    &:before,
    &:after{
      border-color: @black;
    }
  }
  &__slogan {
    .openCon();
    font-size: 15px;
    line-height: 20px;
    padding-top: 15px;
    display: inline-block;
    vertical-align: top;
  }

}

@media (min-width:@screen-xs) {

}
@media (min-width:@screen-sm) {
  .content-header {

    &--about {
      padding: 20px 0;
      height: 201px;
      background: url('@{i}about-title_bg_md.jpg') center center no-repeat;
    }
    &__title {
      font-size: 42px;
    }
    &__title-inner{
      width: 316px;
    }
    &__title-inner--resources{
      width: 540px;
      line-height: 80px;
    }
    &__slogan {
      font-size: 20px;
      line-height: 25px;
    }
  }
}
@media (min-width:@screen-md) {
  .content-header {
    padding: 82px 0;
    &--about {
      height: 321px;
      background: url('@{i}about-title_bg.jpg') center center no-repeat;
    }
    &--resources{
      padding: 40px 0;
    }

    &--cost {
      padding-bottom: 20px;
    }
    &__title {
      font-size: 72px;
    }
    &__title-inner{
      width: 416px;
    }
    &__title-inner--resources{
      width: 540px;
    }
    &__slogan {
      font-size: 24px;
      line-height: 30px;
    }

  }
}

@media (min-width:@screen-lg) {
  .content-header{
    &--about{

      background-size: cover;
    }
  }
}
