.hidden {
  display: none !important;
}

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
.text-hide() {
  font: ~"0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.list-unstyled(){
  margin: 0;
  padding-left: 0;
  list-style: none;
};

.sm-shown,
.md-shown {
  display: none;
}


@media (min-width:@screen-xs) {

}
@media (min-width:@screen-sm) {
  .sm-shown{
    display: block;
  }
}
@media (min-width:@screen-md) {
    .md-shown{
      display: block;

      a&{
        display: inline-block;
      }
    }
}

@media (min-width:@screen-lg) {

}
