html *{
  box-sizing:border-box;
}
body {
  font-family: @base-ff;
  font-size: @base-fz;
  line-height: @base-lh;
  color: @base-text-color;
}
.openCon(){
  font-family: 'Open Sans Condensed', sans-serif;
};
.bebas(){
  font-family: 'Bebas Neue', Arial, sans-serif;
};


